*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/target

# Uniffi generated artifacts
/app/src/main/jniLibs
/app/src/main/java/com/halidodat/neuralnetworkvisualizer/rust
